<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
     xmlns:android="http://schemas.android.com/apk/res/android"
     id="cordova-plugin-jcore"
     version="5.1.0">

    <name>JCore</name>
    <description>Cordova plugin for jcore</description>
    <author>WilhanTian, JiGuang</author>
    <keywords>jcore,jpush</keywords>
    <license>MIT License</license>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <js-module name="JCorePlugin" src="www/jcore.js">
        <clobbers target="JCore" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="JCorePlugin">
                <param name="android-package"
                    value="cn.jiguang.cordova.jcore.JCorePlugin" />
            </feature>
        </config-file>
        <source-file src="src/android/JCorePlugin.java" target-dir="src/cn/jiguang/cordova/jcore" />
<!--        <resource-file src="src/android/arm64-v8a/libjcore424.so" target="jniLibs/arm64-v8a/libjcore424.so"/>-->
<!--        <resource-file src="src/android/armeabi/libjcore424.so" target="jniLibs/armeabi/libjcore424.so"/>-->
<!--        <resource-file src="src/android/armeabi-v7a/libjcore424.so" target="jniLibs/armeabi-v7a/libjcore424.so"/>-->
<!--        <resource-file src="src/android/mips/libjcore424.so" target="jniLibs/mips/libjcore424.so"/>-->
<!--        <resource-file src="src/android/mips64/libjcore424.so" target="jniLibs/mips64/libjcore424.so"/>-->
<!--        <resource-file src="src/android/x86/libjcore424.so" target="jniLibs/x86/libjcore424.so"/>-->
<!--        <resource-file src="src/android/x86_64/libjcore424.so" target="jniLibs/x86_64/libjcore424.so"/>-->

        <lib-file src="src/android/jcore-android-5.1.0.jar" />
    </platform>

    <platform name="ios">
        <source-file src="src/ios/jcore-ios-5.1.0.xcframework" framework="true" />
    </platform>
</plugin>
